.container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: calc(var(--size) * 9);
  max-height: 495px;
  width: calc(var(--size) * 9);
  max-width: 495px;
}

.letter {
  align-items: center;
  display: flex;
  font-size: min(calc(var(--size) / 2), 27px);
  font-weight: bold;
  height: 100%;
  justify-content: center;
  user-select: none;
  width: 100%;
}

.square {
  display: inline-block;
  border: min(calc(var(--size) / 20), 2px) solid black;
  outline: min(calc(var(--size) / 20), 2px) solid black;
  height: var(--size);
  max-height: 55px;
  width: var(--size);
  max-width: 55px;
}

.wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: center;
}