.button {
  background-color: black;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: 'Franklin';
  font-size: 15px;
  padding: 10px;
}

.container {
  align-content: flex-start;
  display: flex;
  flex-wrap: wrap;
  height: calc(var(--size) * 9);
  max-height: 495px;
  width: calc(var(--size) * 9);
  max-width: 495px;
}

.heading {
  border-bottom: 1px solid black;
  font-family: 'Cheltenham';
  text-align: center;
}

.letter {
  align-items: center;
  display: flex;
  font-family: 'Cheltenham';
  font-size: min(calc(var(--size) / 2), 27px);
  font-weight: bold;
  height: 100%;
  justify-content: center;
  user-select: none;
  width: 100%;
}

.square {
  display: inline-block;
  height: var(--size);
  max-height: 55px;
  width: var(--size);
  max-width: 55px;
}

.statusBar {
  align-items: center;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: absolute;
  top: 59px;
  width: 100%;
}

.text {
  font-family: 'Cheltenham';
  font-size: 20px;
}

.wrapper {
  align-items: center;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}